<div class="container">

  <!-- the scroll wheel -->
  <a href="#top" class="back-to-top btn-floating btn waves-effect waves-light"><i class="material-icons up-arrow">play_arrow</i></a>

  <%= render 'head' %>
  <%= render 'about' %>
  <%= render 'location' %>
  <%= render 'speakers' %>
  <%= render 'timetable' %>
  <%= render 'sponsors' %>
  <%= render 'contact' %>
  <%= render 'ticketing' %>
</div>
